/* src/dark.css */
body.dark-mode {
  --bs-body-bg: #121212;
  --bs-body-color: #e4e4e4;

  background-color: var(--bs-body-bg) !important;
  color: var(--bs-body-color) !important;
}

body.dark-mode .card,
body.dark-mode .border,
body.dark-mode .list-group-item {
  background-color: #1e1e1e !important;
  color: #e4e4e4 !important;
  border-color: #333 !important;
}
